<br/>
<br/>
<br/>
<br/>

<div align="center">
  <div class="panel panel-default" align="left" style="width:50%">
    <div class="panel-heading">Xml Generation</div>
    <div class="panel-body">

<h3>Feed1</h3>
      <p position="relative" align="center"> <%= button_to "Generate XML",{:controller=> "home", :action=> "index" }, :class => "btn-custom"  %></p>

    </div>
  </div>
</div>